html,body,div{
	margin:0;padding:0;
}

ul,li{list-style:none;}
ul{
	&:before,&:after{
		content:'';
		display: table;
		overflow: hidden;
	}
	&:after{
		clear:both;
	}
	li{
		float:left;
	}
}
.main{

	width:1000px;height:500px;background:blue;
	.content{width:200px;height:200px;margin:50px auto;background:yellow;}
}