<!DOCTYPE html>
<html>
  <head>
    <title>NODE中间件Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="content">
    	错误：<%= message %>
    </div>
  </body>
</html>