article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  text-rendering: optimizelegibility; }

body {
  word-wrap: normal; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

i, em {
  font-style: normal; }

ol, ul, menu {
  list-style: none outside none; }

fieldset, iframe, abbr, acronym {
  border: 0 none; }

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0; }

iframe {
  display: block; }

textarea {
  resize: vertical; }

th {
  text-align: inherit; }

body, button, input, select, textarea {
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; }

.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  line-height: 0; }

.clearfix:after {
  clear: both; }

.blank5, .blank10, .blank15, .blank20 {
  display: block;
  clear: both;
  overflow: hidden; }

.blank5 {
  height: 5px; }

.blank10 {
  height: 10px; }

.blank15 {
  height: 15px; }

.blank20 {
  height: 20px; }

.fr {
  float: right;
  _display: inline; }

.fl {
  float: left;
  _display: inline; }

.show {
  display: block; }

.hide {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.center {
  text-align: center !important; }

.indent {
  text-indent: 2em; }

.highlight {
  color: #F30 !important; }

.important {
  font-weight: 700 !important; }

.no-border {
  border: 0 none !important; }

.transparent {
  opacity: .0;
  filter: alpha(opacity=0); }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

body {
  font-size: 14px;
  min-width: 1200px; }

.header_bg {
  width: 100%;
  height: 544px;
  background: url(../img/bg_1.jpg) center center no-repeat; }

.header_bg .header_main {
  margin: 0 auto;
  padding-top: 453px;
  *padding-top: 457px; }

.header_bg .header_main .nav {
  text-align: center; }

.header_bg .header_main .nav a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 87px;
  width: 571px; }

.header_bg .header_main .nav #lists {
  background: url(../img/nav_1.png) center center no-repeat; }

.header_bg .header_main .nav #rule {
  background: url(../img/nav_2.png) center center no-repeat; }

.header_bg .header_main .nav a#lists.on {
  background: url(../img/nav_1_hover.png) center center no-repeat; }

.header_bg .header_main .nav a#rule.on {
  background: url(../img/nav_2_hover.png) center center no-repeat; }

.list_bg {
  width: 100%;
  height: 721px;
  background: url(../img/bg_2.jpg) center center no-repeat; }

.list_bg .list_inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 183px; }

.list_bg .list_inner .list_main {
  margin: 0 auto;
  height: 412px;
  width: 1050px; }

.list_bg .list_inner .list_main ul {
  background: url(../img/list_line.png) 10px 0 repeat-y;
  margin-top: 35px; }

.list_bg .list_inner .list_main ul li {
  margin-bottom: 30px; }

.list_bg .list_inner .list_main ul span {
  font-size: 14px;
  vertical-align: middle; }

.list_bg .list_inner .list_main ul span img {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.list_bg .list_inner .list_main ul .list_ico {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 10px;
  height: 10px;
  background-image: url(../slice/list_icon.png);
  margin: 0 6px; }

.list_bg .list_inner .list_main ul .list_time {
  color: #5d9ae0;
  margin-right: 20px; }

.list_bg .list_inner .list_main ul .list_head {
  vertical-align: middle; }

.list_bg .list_inner .list_main ul .list_nick {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

.list_bg .list_inner .list_main ul .list_teamName {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #94BDFD;
  text-align: center; }

.list_bg .list_inner .list_main ul .braces {
  color: #94BDFD; }

.list_bg .list_inner .list_main ul .list_challenge {
  color: #5d9ae0; }

.list_bg .list_inner .list_main ul .list_get {
  color: #5d9ae0; }

.list_bg .list_inner .list_main ul .list_num {
  color: #F55D3C; }

.list_bg .list_inner .list_main ul .list_icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 55px;
  height: 37px;
  background-image: url(../slice/list_icon2.png);
  margin-left: 10px; }

.list_bg .list_inner .list_main ul .list_icon2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 55px;
  height: 37px;
  background-image: url(../slice/list_icon3.png);
  margin-left: 10px; }

.list_bg .list_inner .list_main ul .list_icon3 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 55px;
  height: 37px;
  background-image: url(../slice/list_icon4.png);
  margin-left: 10px; }

.show_bg {
  width: 100%;
  height: 1116px;
  background: url(../img/bg_3.jpg) center center no-repeat; }

.show_bg .show_inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 116px;
  *zoom: 1; }

.show_bg .show_inner:before, .show_bg .show_inner:after {
  content: "";
  display: table;
  line-height: 0; }

.show_bg .show_inner:after {
  clear: both; }

.show_bg .show_inner #my_team {
  display: block;
  width: 111px;
  height: 38px;
  text-indent: -99999px;
  background-image: url(../slice/my_team.png);
  background-repeat: no-repeat;
  float: right;
  margin-right: 35px; }

.show_bg .show_inner .team_top {
  clear: right;
  margin: 130px 45px 0;
  border-bottom: 1px solid #3D3F6F;
  color: #5883D1;
  font-weight: bold;
  padding-bottom: 10px; }

.show_bg .show_inner .team_top span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center; }

.show_bg .show_inner .team_top .top_1 {
  width: 125px; }

.show_bg .show_inner .team_top .top_2 {
  width: 265px; }

.show_bg .show_inner .team_top .top_3 {
  width: 150px; }

.show_bg .show_inner .team_top .top_4 {
  width: 355px; }

.show_bg .show_inner .team_top .top_5 {
  width: 190px; }

.show_bg .show_inner .team_main {
  margin: 0 45px;
  width: 1110px;
  color: white; }

.show_bg .show_inner .team_main img {
  height: 60px;
  border-radius: 30px; }

.show_bg .show_inner .team_main span {
  display: block;
  float: left; }

.show_bg .show_inner .team_main li {
  position: relative;
  *zoom: 1;
  height: 82px;
  line-height: 82px; }

.show_bg .show_inner .team_main li:before, .show_bg .show_inner .team_main li:after {
  content: "";
  display: table;
  line-height: 0; }

.show_bg .show_inner .team_main li:after {
  clear: both; }

.show_bg .show_inner .team_main li.hover {
  background: url(../img/hover.png); }

.show_bg .show_inner .team_main .li_1 {
  margin: 26px 0;
  width: 125px; }

.show_bg .show_inner .team_main .li_1 i {
  width: 34px;
  height: 29px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 29px;
  background-image: url(../slice/li_default.png);
  background-repeat: no-repeat; }

.show_bg .show_inner .team_main .li_1 i.first, .show_bg .show_inner .team_main .li_1 i.level1 {
  background-image: url(../slice/li_1.png);
  background-repeat: no-repeat; }

.show_bg .show_inner .team_main .li_1 i.sed, .show_bg .show_inner .team_main .li_1 i.level2 {
  background-image: url(../slice/li_2.png);
  background-repeat: no-repeat; }

.show_bg .show_inner .team_main .li_1 i.third, .show_bg .show_inner .team_main .li_1 i.level3 {
  background-image: url(../slice/li_3.png);
  background-repeat: no-repeat; }

.show_bg .show_inner .team_main .li_2 {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 50px; }

.show_bg .show_inner .team_main .li_3 {
  width: 160px;
  text-align: center; }

.show_bg .show_inner .team_main .li_4 {
  width: 355px;
  padding-left: 50px; }

.show_bg .show_inner .team_main .li_4 .member {
  position: relative;
  margin: 0 20px; }

.show_bg .show_inner .team_main .li_4 .live {
  position: absolute;
  background-image: url(../slice/live.png);
  background-repeat: no-repeat;
  display: block;
  width: 38px;
  height: 17px;
  top: 11px;
  left: 30px; }

.show_bg .show_inner .team_main .li_4 .leader {
  position: absolute;
  background-image: url(../slice/leader.png);
  background-repeat: no-repeat;
  display: block;
  width: 51px;
  height: 19px;
  top: 55px;
  left: 5px; }

.show_bg .show_inner .team_main .li_4 .dead {
  position: absolute;
  background: url(../slice/dead.png) center center no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: 11px;
  left: 0px;
  background-color: rgba(105, 105, 105, 0.65); }

.show_bg .show_inner .team_main .li_5 .join {
  color: #FF8200;
  text-decoration: underline; }

.show_bg .show_inner .team_main .li_5 .look {
  color: #5B95FF; }

.show_bg .show_inner .team_main .li_5 .li_5_span {
  color: #6F7E9D; }

.show_bg .show_inner #team_result {
  height: 656px; }

.show_bg .show_inner .page {
  color: #6E7D9A;
  *zoom: 1;
  padding-left: 375px;
  margin-top: 45px; }

.show_bg .show_inner .page:before, .show_bg .show_inner .page:after {
  content: "";
  display: table;
  line-height: 0; }

.show_bg .show_inner .page:after {
  clear: both; }

.show_bg .show_inner .page .pages {
  float: left; }

.show_bg .show_inner .page .pages a, .show_bg .show_inner .page .pages span {
  color: #6E7D9A;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin: 0 5px; }

.show_bg .show_inner .page .pages a:hover {
  background-color: #417FEC;
  color: white; }

.show_bg .show_inner .page .pages a.selected {
  background-color: #417FEC;
  color: white; }

.show_bg .show_inner .page .pages span {
  float: none; }

.show_bg .show_inner .page .pages .current {
  background-color: #417FEC;
  color: white; }

.show_bg .show_inner .page .pages .points {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none; }

.show_bg .show_inner .page .page_go {
  float: left; }

.show_bg .show_inner .page .page_go span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none;
  margin: 0 5px; }

.show_bg .show_inner .page .page_go #page_num {
  background-color: #23375C;
  border: 1px solid #46659C;
  width: 30px;
  color: white; }

.show_bg .show_inner .page .page_go #sure_page {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 45px;
  height: 24px;
  background-image: url(../slice/sure_page.png);
  background-repeat: no-repeat;
  text-indent: -99999px; }

.show_bg .show_inner .search {
  margin-top: 35px;
  color: #93A9CE; }

.show_bg .show_inner .search .search_l {
  float: left; }

.show_bg .show_inner .search .search_l input {
  margin: 0 5px; }

.show_bg .show_inner .search .search_l span {
  margin: 0 5px; }

.show_bg .show_inner .search .search_r {
  float: right; }

.show_bg .show_inner .search .search_r input {
  background-color: #23375C;
  border: 1px solid #46659C;
  width: 150px;
  color: white; }

.show_bg .show_inner .search #sure_search {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 45px;
  height: 24px;
  background-image: url(../slice/search.png);
  background-repeat: no-repeat;
  text-indent: -99999px;
  margin-left: 10px; }

.hero_bg {
  width: 100%;
  height: 1089px;
  background: url(../img/bg_4.jpg) center center no-repeat; }

.hero_bg .hero_inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 107px;
  *zoom: 1; }

.hero_bg .hero_inner:before, .hero_bg .hero_inner:after {
  content: "";
  display: table;
  line-height: 0; }

.hero_bg .hero_inner:after {
  clear: both; }

.hero_bg .hero_inner #my_role {
  display: block;
  float: right;
  width: 111px;
  height: 38px;
  text-indent: -99999px;
  background-image: url(../slice/my_role.png);
  background-repeat: no-repeat;
  margin-right: 35px; }

@-moz-document url-prefix() {
  .hero_bg .hero_inner #my_role {
    position: absolute;
    right: 331px; } }
.hero_bg .hero_inner .hero_top {
  width: 1103px;
  margin: 0 auto;
  margin-top: 115px;
  *zoom: 1; }

.hero_bg .hero_inner .hero_top:before, .hero_bg .hero_inner .hero_top:after {
  content: "";
  display: table;
  line-height: 0; }

.hero_bg .hero_inner .hero_top:after {
  clear: both; }

.hero_bg .hero_inner .hero_top span {
  display: block;
  float: left;
  height: 63px;
  cursor: pointer; }

.hero_bg .hero_inner .hero_top .top_1 {
  width: 354px;
  background: url(../img/top_1.png) center center no-repeat; }

.hero_bg .hero_inner .hero_top .top_1.hover {
  background: url(../img/top_1_hover.png) center center no-repeat; }

.hero_bg .hero_inner .hero_top .top_2 {
  width: 354px;
  background: url(../img/top_2.png) center center no-repeat;
  margin: 0 20px; }

.hero_bg .hero_inner .hero_top .top_2.hover {
  background: url(../img/top_2_hover.png) center center no-repeat; }

.hero_bg .hero_inner .hero_top .top_3 {
  width: 354px;
  background: url(../img/top_3.png) center center no-repeat; }

.hero_bg .hero_inner .hero_top .top_3.hover {
  background: url(../img/top_3_hover.png) center center no-repeat; }

.hero_bg .hero_inner .title_top {
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px solid #3D3F6F;
  color: #5883D1;
  font-weight: bold;
  padding-bottom: 10px;
  width: 1005px; }

.hero_bg .hero_inner .title_top span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center; }

.hero_bg .hero_inner .title_top .top_1 {
  width: 100.5px; }

.hero_bg .hero_inner .title_top .top_2 {
  width: 346.75px; }

.hero_bg .hero_inner .title_top .top_3 {
  width: 100.5px; }

.hero_bg .hero_inner .title_top .top_4 {
  width: 123.5px; }

.hero_bg .hero_inner .title_top .top_5 {
  width: 301.5px; }

.hero_bg .hero_inner .hero_over {
  height: 660px;
  width: 1005px;
  margin: 0 auto;
  position: relative; }

.hero_bg .hero_inner ul {
  font-size: 14px;
  color: white; }

.hero_bg .hero_inner ul span {
  display: block;
  float: left; }

.hero_bg .hero_inner ul li {
  height: 82px;
  line-height: 82px; }

.hero_bg .hero_inner ul li.hover {
  background: url(../img/hover.png); }

.hero_bg .hero_inner ul img {
  height: 60px;
  border-radius: 30px;
  float: left;
  margin: 15px 10px 0 10px; }

.hero_bg .hero_inner ul .li_1 {
  width: 100.5px;
  margin: 26px 0; }

.hero_bg .hero_inner ul .li_1 i {
  width: 34px;
  height: 29px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 29px;
  background-image: url(../slice/li_default.png);
  background-repeat: no-repeat; }

.hero_bg .hero_inner ul .li_1 i.first, .hero_bg .hero_inner ul .li_1 i.level1 {
  background-image: url(../slice/li_1.png);
  background-repeat: no-repeat; }

.hero_bg .hero_inner ul .li_1 i.sed, .hero_bg .hero_inner ul .li_1 i.level2 {
  background-image: url(../slice/li_2.png);
  background-repeat: no-repeat; }

.hero_bg .hero_inner ul .li_1 i.third, .hero_bg .hero_inner ul .li_1 i.level3 {
  background-image: url(../slice/li_3.png);
  background-repeat: no-repeat; }

.hero_bg .hero_inner ul .li_2 {
  width: 352px;
  position: relative;
  padding-left: 50px; }

.hero_bg .hero_inner ul .li_2 .leader {
  position: absolute;
  background-image: url(../slice/leader.png);
  background-repeat: no-repeat;
  display: block;
  width: 51px;
  height: 19px;
  top: 55px;
  left: 64px; }

.hero_bg .hero_inner ul .li_2 .live {
  background-image: url(../slice/live.png);
  background-repeat: no-repeat;
  display: block;
  width: 38px;
  height: 17px;
  float: left;
  margin-top: 31px; }

.hero_bg .hero_inner ul .li_2 a {
  color: #5d9af4; }

.hero_bg .hero_inner ul .li_2 span.nick {
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  margin-left: 5px; }

.hero_bg .hero_inner ul .li_3 {
  width: 100.5px; }

.hero_bg .hero_inner ul .li_4 {
  width: 100.5px; }

.hero_bg .hero_inner ul .li_5 {
  width: 301.5px; }

.hero_bg .hero_inner ul .li_5 span {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  margin-left: 100px; }

.hero_bg .hero_inner ul li:nth-child(1) .li_4, .hero_bg .hero_inner ul li:nth-child(2) .li_4, .hero_bg .hero_inner ul li:nth-child(3) .li_4 {
  color: #E5583D; }

.hero_bg .hero_inner ul .dead {
  position: absolute;
  background: url(../slice/dead.png) center center no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: 15px;
  left: 60px;
  background-color: rgba(105, 105, 105, 0.65); }

.hero_bg .hero_inner #must_mfs, .hero_bg .hero_inner #must_ms {
  display: none; }

.head_bg {
  width: 100%;
  height: 713px;
  background: url(../img/bg_5.jpg) center center no-repeat; }

.head_bg .head_inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 250px; }

.head_bg .head_inner .head_img {
  position: relative;
  float: left;
  margin-left: 130px; }

.head_bg .head_inner .head_img .head_up {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 10px;
  left: 22px; }

.head_bg .head_inner .head_img .head_down {
  position: relative;
  z-index: 1; }

.head_bg .head_inner .head_img img {
  display: block; }

.head_bg .head_inner .head_img span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1483d9;
  margin: 5px 0 0 24px;
  text-align: center; }

#rule_bg {
  width: 100%;
  height: 2847px;
  background: url(../img/rule.jpg) center center no-repeat;
  display: none; }

#rule_bg #rlue_word {
  padding-top: 636px;
  width: 1200px;
  margin: 0 auto; }

#rule_bg #rlue_word #look_detail {
  display: block;
  width: 80px;
  height: 20px;
  float: right;
  margin-right: 304px; }

.big_box {
  display: none;
  z-index: 20001;
  width: 727px;
  height: 540px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -270px 0 0 -372px;
  background: #375E9F; }

.big_box .top {
  height: 45px;
  line-height: 45px;
  *zoom: 1; }

.big_box .top:before, .big_box .top:after {
  content: "";
  display: table;
  line-height: 0; }

.big_box .top:after {
  clear: both; }

.big_box .top .title {
  font-size: 16px;
  float: left;
  color: #D5E1FB;
  margin-left: 20px; }

.big_box .top .close {
  width: 20px;
  height: 20px;
  background-image: url(../slice/close.png);
  background-repeat: no-repeat;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer; }

.big_box .main {
  margin: 0 10px 10px 10px;
  padding: 20px;
  background: #2A426E;
  height: 445px;
  color: #C9D2E1; }

.big_box .main .nick_name {
  color: #F8D03B; }

.big_box .main .zhubo_nick, .big_box .main .now_role {
  height: 30px;
  line-height: 30px; }

#my_role_box, #role_detail_box {
  height: 560px; }

#my_role_box .main, #role_detail_box .main {
  height: 466px; }

#my_role_box .role_detail .nav, #role_detail_box .role_detail .nav {
  *zoom: 1;
  border-bottom: 2px solid #3E71C4; }

#my_role_box .role_detail .nav:before, #my_role_box .role_detail .nav:after, #role_detail_box .role_detail .nav:before, #role_detail_box .role_detail .nav:after {
  content: "";
  display: table;
  line-height: 0; }

#my_role_box .role_detail .nav:after, #role_detail_box .role_detail .nav:after {
  clear: both; }

#my_role_box .role_detail .nav span, #role_detail_box .role_detail .nav span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 222px;
  height: 40px;
  line-height: 40px;
  background: #38578E;
  text-align: center;
  float: left;
  color: #94B2E4;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

#my_role_box .role_detail .nav span.hover, #role_detail_box .role_detail .nav span.hover {
  background: #3E75D2;
  color: white;
  width: 223px; }

#my_role_box .role_detail .tds, #my_role_box .role_detail .ms, #role_detail_box .role_detail .tds, #role_detail_box .role_detail .ms {
  display: none; }

#my_role_box .change_role, #role_detail_box .change_role {
  background: #273E67;
  height: 50px; }

#my_role_box .change_role .change_role_btn, #role_detail_box .change_role .change_role_btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 40px;
  background-image: url(../slice/change_role.png);
  background-repeat: no-repeat;
  float: left;
  margin-left: 220px; }

#my_role_box .change_role .comments, #role_detail_box .change_role .comments {
  float: left;
  color: #7291C7;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 10px; }

#my_role_box .change_role a.sure_btn, #role_detail_box .change_role a.sure_btn {
  display: block;
  height: 34px;
  background-image: url(../slice/sure_btn.png);
  background-repeat: no-repeat;
  margin-left: 285px; }

#role_detail_box .change_role {
  padding-top: 55px; }

#my_team_box, #look_team_box {
  height: 374px; }

#my_team_box .main, #look_team_box .main {
  height: 278px; }

#my_team_box .nick_name, #my_team_box .role_name, #look_team_box .nick_name, #look_team_box .role_name {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 250px; }

#my_team_box #leader_hide, #look_team_box #leader_hide {
  float: right; }

#my_team_box #dissolve, #my_team_box #out_team, #look_team_box #dissolve, #look_team_box #out_team {
  color: #D7771F;
  text-decoration: underline; }

#my_team_box #join_check, #look_team_box #join_check {
  color: #4C7CD3; }

#my_team_box #out_team, #look_team_box #out_team {
  float: right; }

#my_team_box .team_member .team_top, #look_team_box .team_member .team_top {
  background: #375E9F;
  height: 35px;
  line-height: 35px;
  color: #B9D1FB; }

#my_team_box .team_member .team_top span, #look_team_box .team_member .team_top span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 11%;
  text-align: center; }

#my_team_box .team_member .team_top .team_nick_name, #look_team_box .team_member .team_top .team_nick_name {
  width: 40%; }

#my_team_box .team_member .leader span, #look_team_box .team_member .leader span {
  width: 9%; }

#my_team_box .team_member img, #look_team_box .team_member img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px; }

#my_team_box .team_member a, #look_team_box .team_member a {
  color: #5591F5;
  text-decoration: underline; }

#my_team_box .team_member ul, #look_team_box .team_member ul {
  background: #273E67; }

#my_team_box .team_member ul li, #look_team_box .team_member ul li {
  border-bottom: 1px solid #2A416D; }

#my_team_box .team_member ul li span, #look_team_box .team_member ul li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 11%;
  text-align: center; }

#my_team_box .team_member ul li .team_nick_name_img, #look_team_box .team_member ul li .team_nick_name_img {
  width: 40%; }

#my_team_box .team_member .leader_ul span, #look_team_box .team_member .leader_ul span {
  width: 9%; }

#my_team_box .team_member strong, #look_team_box .team_member strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 170px;
  font-weight: normal;
  text-align: left; }

#my_team_box i {
  display: block;
  background: #f00;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  top: 102px;
  right: 23px;
  position: absolute; }

#join_team_box .team_member .team_top {
  background: #375E9F;
  height: 35px;
  line-height: 35px;
  color: #B9D1FB; }

#join_team_box .team_member .team_top span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 9%;
  text-align: center; }

#join_team_box .team_member .team_top .team_nick_name {
  width: 40%;
  text-align: left;
  text-indent: 60px; }

#join_team_box .team_member .team_top .join_role, #join_team_box .team_member .team_top .join_level, #join_team_box .team_member .team_top .join_shu, #join_team_box .team_member .team_top .join_time {
  text-align: left; }

#join_team_box .team_member .team_top .join_role {
  text-indent: -10px; }

#join_team_box .team_member .team_top .join_time {
  text-indent: -5px; }

#join_team_box .team_member strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 146px;
  font-weight: normal;
  text-align: left; }

#join_team_box .team_member img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 5px; }

#join_team_box .team_member a {
  color: #5591F5; }

#join_team_box .team_member .pass {
  color: #62BA5E;
  text-decoration: underline; }

#join_team_box .team_member ul {
  background: #273E67;
  height: 366px;
  overflow: hidden; }

#join_team_box .team_member ul li {
  border-bottom: 1px solid #2A416D;
  font-size: 12px; }

#join_team_box .team_member ul li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 10%;
  text-align: center; }

#join_team_box .team_member ul li .team_nick_name_img {
  width: 35%; }

#join_team_box .team_member ul li .done {
  color: #50678D; }

#join_team_box .team_member .page {
  color: #6E7D9A;
  *zoom: 1;
  padding-left: 160px;
  margin-top: 25px; }

#join_team_box .team_member .page:before, #join_team_box .team_member .page:after {
  content: "";
  display: table;
  line-height: 0; }

#join_team_box .team_member .page:after {
  clear: both; }

#join_team_box .team_member .page .pages {
  float: left; }

#join_team_box .team_member .page .pages a, #join_team_box .team_member .page .pages span {
  color: #6E7D9A;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin: 0 5px; }

#join_team_box .team_member .page .pages a:hover {
  background-color: #417FEC;
  color: white; }

#join_team_box .team_member .page .pages a.selected {
  background-color: #417FEC;
  color: white; }

#join_team_box .team_member .page .pages span {
  float: none; }

#join_team_box .team_member .page .pages .current {
  background-color: #417FEC;
  color: white; }

#join_team_box .team_member .page .pages .points {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none; }

#join_team_box .team_member .page .page_go {
  float: left; }

#join_team_box .team_member .page .page_go span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none;
  margin: 0 5px; }

#join_team_box .team_member .page .page_go #join_page_num {
  background-color: #23375C;
  border: 1px solid #46659C;
  width: 30px;
  color: white; }

#join_team_box .team_member .page .page_go #join_sure_page {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 45px;
  height: 24px;
  background-image: url(../slice/sure_page.png);
  background-repeat: no-repeat;
  text-indent: -99999px; }

#NPC_box p {
  margin: 10px 0; }

#NPC_box .NPC_detail .NPC_top {
  background: #375E9F;
  height: 35px;
  line-height: 35px;
  color: #B9D1FB; }

#NPC_box .NPC_detail .NPC_top span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16%;
  text-align: center; }

#NPC_box .NPC_detail ul {
  background: #273E67; }

#NPC_box .NPC_detail ul li {
  border-bottom: 1px solid #2A416D;
  height: 80px;
  line-height: 80px; }

#NPC_box .NPC_detail ul li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16%;
  text-align: center; }

#NPC_box .NPC_detail ul .tds {
  color: #C04949; }

#NPC_box .NPC_detail ul .mfs {
  color: #0497ED; }

#NPC_box .NPC_detail ul .ms {
  color: #0EB529; }

#NPC_box a.sure_btn {
  display: block;
  width: 80px;
  height: 34px;
  background-image: url(../slice/sure_btn.png);
  background-repeat: no-repeat;
  margin-left: 285px;
  margin-top: 30px; }

.small_box {
  display: none;
  z-index: 20002;
  width: 440px;
  height: 322px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -161px 0 0 -220px;
  background: #375E9F; }

.small_box .top {
  height: 45px;
  line-height: 45px;
  *zoom: 1; }

.small_box .top:before, .small_box .top:after {
  content: "";
  display: table;
  line-height: 0; }

.small_box .top:after {
  clear: both; }

.small_box .top .title {
  font-size: 16px;
  float: left;
  color: #D5E1FB;
  margin-left: 20px; }

.small_box .top .close {
  width: 20px;
  height: 20px;
  background-image: url(../slice/close.png);
  background-repeat: no-repeat;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer; }

.small_box .main {
  margin: 0 10px 10px 10px;
  padding: 20px;
  background: #2A426E;
  height: 227px;
  color: #C9D2E1; }

.small_box .main a.sure_btn {
  display: block;
  width: 80px;
  height: 34px;
  background-image: url(../slice/sure_btn.png);
  background-repeat: no-repeat;
  margin-left: 145px;
  margin-top: 44px; }

#creat_team .team_msg {
  font-size: 16px;
  margin: 20px 0 20px 55px; }

#creat_team .team_name_input {
  background-color: #23375C;
  border: 1px solid #46659C;
  width: 250px;
  color: white;
  height: 28px;
  margin-left: 55px; }

#creat_team .team_error {
  color: #E44541;
  font-size: 12px;
  margin-left: 55px;
  margin-top: 5px; }

#creat_team_sucess .success_icon {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background-image: url(../slice/success.png);
  background-repeat: no-repeat; }

#creat_team_sucess p {
  text-align: center; }

#creat_team_sucess .team_name {
  color: #F9CF3B; }

#join_team_apply .notice_icon, #dissolve_team_box .notice_icon, #sure_change_role_box .notice_icon, #sure_ti_role_box .notice_icon {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background-image: url(../slice/notice.png);
  background-repeat: no-repeat; }

#join_team_apply p, #dissolve_team_box p, #sure_change_role_box p, #sure_ti_role_box p {
  text-align: center; }

#join_team_apply .team_role_name, #join_team_apply .dissolve_team_name, #dissolve_team_box .team_role_name, #dissolve_team_box .dissolve_team_name, #sure_change_role_box .team_role_name, #sure_change_role_box .dissolve_team_name, #sure_ti_role_box .team_role_name, #sure_ti_role_box .dissolve_team_name {
  color: #F9CF3B; }

#join_team_apply .dissolve_msg, #dissolve_team_box .dissolve_msg, #sure_change_role_box .dissolve_msg, #sure_ti_role_box .dissolve_msg {
  color: #819CCB;
  font-size: 12px; }

#dissolve_team_box a.sure_btn, #sure_ti_role_box a.sure_btn {
  display: block;
  float: left;
  width: 80px;
  height: 34px;
  background-image: url(../slice/sure_btn.png);
  background-repeat: no-repeat;
  margin-left: 105px;
  margin-top: 44px;
  margin-right: 10px; }

#dissolve_team_box a.quit_btn, #sure_ti_role_box a.quit_btn {
  display: block;
  float: left;
  width: 80px;
  height: 34px;
  background-image: url(../slice/quit.png);
  background-repeat: no-repeat;
  margin-top: 44px; }
