<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="edge" >
  <title>project demo</title>
  <link rel="stylesheet" href="../../project/css/main.css" charset="utf-8">
  <script src="http://assets.dwstatic.com/common/js/jquery.js"></script>
</head>
<body>
  <!-- 01战场永不停歇 -->
  <div class="list_bg">
    <div class="list_inner">
      <div class="list_main">
        <ul id="list">
          <%- include template/tpl1 %>
        </ul>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="content">
        <img src="../../project/img/main-bg.png" alt="">
        <button id="changeData">changeData</button>
    </div>    
  </div>

  <script type="text/template" id="tpl1">
    <%- Helper.template('project', 'template/tpl1.ejs') %>
  </script>

  <script type="text/javascript" src="../../project/js/underscore.js"></script>
  <script type="text/javascript" src="../../project/js/index.js"></script>
</body>
</html> 