<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="edge" >
  <title>project demo</title>
  <!--  use relative path in development mode
  <link rel="stylesheet" href="../../demo/css/main.css" charset="utf-8">
  -->
</head>
<body>
  <!-- content -->

  <%- include template/tpl1 %>
  
  <!--  前后端复用的模版，使用系统全局方法: Helper.template(项目名称,模版名称) -->
  <script type="text/template" id="tpl1">
    <%- Helper.template('demo', 'template/tpl1') %>
  </script>

  <!--  use relative path in development mode
  <script type="text/javascript" src="../../demo/js/index.js"></script>
  -->
</body>
</html> 